<mat-card>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <mat-card-header>
          <mat-card-title>
            <p class="text-center">Bem vindo Recrutador !</p>
          </mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-subtitle class="ml30">No seu painel lateral esquerdo você pode :</mat-card-subtitle>
        <mat-divider></mat-divider>
        <br>
        <mat-card-content class="ml30">
          <h4>Acessar seus dados de perfil</h4>
          <h4>Sair da sua conta e encerrar a sessão</h4>
          <h4>Utilizar todas as funcionalidades da aplicação</h4>
          <mat-divider></mat-divider>
          <br>
          <h1>Funcionalidades :</h1>
          <ul>
            <li>Cadastrar novos Candidatos</li>
            <mat-divider></mat-divider>
            <li>Cadastrar novas Vagas</li>
            <mat-divider></mat-divider>
            <li>Remover Candidatos e Vagas</li>
            <mat-divider></mat-divider>
            <li>Alterar Candidatos e Vagas</li>
            <mat-divider></mat-divider>
            <li>Listar e procurar por todos Candidatos e Vagas</li>

          </ul>
        </mat-card-content>
      </div>
    </div>
  </div>
</mat-card>
